* {
  padding: 0;
  margin: 0;
  font-family: Arial, Times New Roman, serif;
}
body{
  font-size: 16px;
  width: 100vw;
}



/*---------------------HEADER--------------------------*/







/*------------------КНОПКА НАВЕРХ----------------------*/





.button-up {
  bottom: 30px;
  right: 8%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 200;
  background: gray;
  border-radius: 50%;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  &__arrow {
    border: 2px solid white;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 18px;
    top: 20px;
    border-right: 0;
    border-bottom: 0;
  }
}





/*----------------------SLIDER----------------------*/






/*------------------МЕНЮ НА СЛАЙДЕРЕ-----------------*/






.slider{
  position: relative;
  color: white;
  margin-bottom: -30px;
  width: 100vw;
  &__menu{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 57px 0 5px;
    margin: auto;
    z-index: 101;
    transition: all 0.5s ease;
  }
}
.fixmenu{
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 150;
  padding-top: 10px;
}
.logo{
  display: inline-block;
  vertical-align: middle;
  &__link{
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
.small-menu{
  display: none;
  cursor: pointer;
  &__button{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    &:focus{
      outline: 0;
    }
  }
}
.button{
  &__line {
    width: 31px;
    height: 4px;
    background: #d30f3f;
    display: block;
    border-radius: 20px;
    margin: 6px 0;
  }
}
.dropdown-menu{
  &__list.show{
    display: block;
    top: 50px !important;
    background: black;
    width: 100vw;
    left: 0 !important;
  }
}
.list-menu{
  list-style-type: none;
  text-align: center;
  background: black;
  margin-bottom: 0;
  &__item{
    padding: 5px 0;
    display: block;
  }
}
.list-menu-link{
  color: white;
}
.dropdown-item{
  &:hover{
    background: black;
    color: white;
    text-decoration: underline;
  }
}
.lin-menu{
  width: 100%;
  float: right;
  max-width: 640px;
  &__list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: auto;
  }
}
.lin-item{
  display: inline-block;
  list-style: none;
}
.lin-link{
  color: white;
  font-size: 19px;
  &:hover{
    color: white;
  }
}





/*----------- СЛАЙДЫ И КОНТЕНТ --------------*/




.slider{
  &__content{
    text-align: center;
    margin-top: 0px;
    z-index: 100;
  }
}
.slide_fon1{
  background: url(../img/sl1.png) no-repeat center top/cover;
}
.slide_fon2{
  background: url(../img/sl4.png) no-repeat center top/cover;
}
.slide_fon3{
  background: url(../img/sl3.png) no-repeat center top/cover;
}
.slide_fon4{
  background: url(../img/sl2.png) no-repeat center top/cover;
}
.slide{
  min-height: 805px;
  padding-top: 180px;
  &__zag{
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  &__text{
    font-size: 27px;
    max-width: 560px;
    margin: 0 auto 80px;
    font-weight: 300px;
  }
}
.button-grad{
  cursor: pointer;
  display: inline-block;
  border-radius: 70px;
  width: 240px;
  margin-top: 5.5%;
  background: linear-gradient(183deg, #5b36fd, #ec0e36);
  box-shadow: 0 8px 53px 0 rgba(255, 0, 81, 0.31), inset 0 -5px 1px 0 #ad002c;
  color: white;
  height: 73px;
  font-size: 21px;
  letter-spacing: 1px;
  padding-bottom: 4%;
  line-height: 65px;
  transition: all 300ms;
  border: 0;
  &:hover{
    color: white;
    transform: scale(1.05);
    text-decoration: none;
  }
}
.slick-dots{
  position: absolute;
  bottom: 160px;
  left: 0;
  right: 0;
  margin: auto;
  counter-reset: section;
  text-align: center;
  padding-left: 0;
  li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0 10px;
    &.slick-active button{
      background: transparent;
      border: 1px dashed red;
      border-radius: 50%;
      color: red;
      :after{
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 18px;
        transform: translate(-50%, -50%);
        counter-increment: section;
        content: "0" counter(section);
      }
    }
    button{
      background: transparent;
      width: 34px;
      height: 34px;
      color: white;
      border: none;
      content: "";
      outline: none;
      position: relative;
      font-size: 0;
      padding: 0;
      &:before{
        display: none;
      }
      &:after{
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 18px;
        transform: translate(-50%, -50%);
        counter-increment: section;
        content: "0" counter(section);
      }
    }
  }
}






/*-----------КНОПКИ ДЛЯ ПЕРЕХОДА ВНИЗ-----------------*/





.button-down {
  margin: 0 auto;
  z-index: 102;
  position: absolute;
  right: 0;
  left: 0;
  &_text{
    font-size: 0.8em;
    bottom: 70px;
    width: 100px;
  }
  &_figure{
    bottom: 40px;
    z-index: 102;
    text-align: center;
  }
  &__link-next{
    color: #fff;
    &_figure{
      width: 40px;
      height: 40px;
      background: transparent;
      margin: auto;
      display: inline-block;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      &:hover{
        color: white;
      }
      &:after{
        width: 24px;
        position: absolute;
        content: "";
        left: 8px;
        top: 20px;
        height: 24px;
        transform: rotate(45deg);
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }
    }
  }
}






/*----------------------MAIN--------------------------*/






/* -------------------- ABOUT ----------------------- */






/*----------------------ПОНЯТИЕ-----------------------*/






.about{
  text-align: center;
  margin: 0 auto;
}
#particles-js{
  height: 300px;
  position: relative;
}
.notion{
  background: #d30f3f;
  color: white;
  padding-bottom: 120px;
  &__zag{
    font-size: 1.9em;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    padding-top: 75px;
    margin-bottom: 25px;
  }
  &__text{
    font-size: 1.23em;
    max-width: 656px;
    margin: 0 auto;
    text-align: center;
    line-height: 27px;
  }
  canvas{
    position: absolute;
    top: 0;
    left: 0;
  }
}




/*---------------------ПРЕИМУЩЕСТВА---------------------*/




.advantage{
  background: url(../img/fon.png);
  padding-bottom: 89px;
  &__zag{
    color: white;
    font-size: 1.65em;
    font-weight: 600;
    padding-top: 68px;
    margin-bottom: 3.4%;
  }
  &__block{
    background: white;
    text-align: center;
    border-radius: 2%;
    padding: 60px 30px;
    min-height: 410px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.11);
    margin-bottom: 30px;
  }
}
.block{
  &__text{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &__list{
    text-align: left;
    line-height: 24px;
    padding-left: 30px;
    max-width: 410px;
    margin: auto;
  }
}
.list{
  &__item{
    list-style-type: none;
    position: relative;
    &:before{
      width: 11px;
      height: 11px;
      position: absolute;
      top: 7px;
      left: -17px;
      border-radius: 50%;
      line-height: 1.5;
      content: "";
      border: 2px solid gray;
      display: inline-block;
    }
  }
}
.block-2{
  &__img{
    position: absolute;
    top: 364px;
    right: -101px;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}





/* ---------------- НАША МИССИЯ ---------------------*/




.our-mission{
  color: white;
  margin-top: 60px;
  padding-bottom: 70px;
  &__logo{
    padding-right: 14%;
    padding-top: 1%
  }
  &__info{
    color: black;
    text-align: left;
    line-height: 25px;
    max-width: 480px;
    margin: 0 auto;
  }
}
.logo{
  &__emblem{
    position: relative;
  }
}
.emblem{
  &__img{
    width: 74%;
  }
  &__badge{
    position: absolute;
    top: 13.5%;
    right: -3%;
    background: #2f2f2f;
    color: white;
    border-radius: 50%;
    height: 57%;
    width: 42%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.1em;
    font-weight: 600;
    text-align: left;
    line-height: 31px;
  }
}
.info{
  &__text{
    max-width: 478px;
    margin: 0 0 30px;
  }
}





/*------------------------SHOP-----------------------*/







/*---------------------4 КАТЕГОРИИ-------------------*/




.shop{
  &__zag{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 75px;
    font-size: 30px;
  }
}
.category{
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  &__item{
    text-align: center;
    margin-bottom: 15px;
    width: calc(100% / 4 - 60px);
  }
}
.item{
  &__num{
    border-radius: 50%;
    background: #ec1a4e;
    width: 63px;
    height: 63px;
    margin: 0 auto 36px;
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    position: relative;
    &:after{
      border-radius: 50%;
      border: 1px dashed #ec1a4e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 87px;
      height: 87px;
      content: "";
    }
  }
  &__text{
    text-align: left;
    line-height: 25px;
  }
}
.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}




/* ------------------- НАША ЦЕЛЬ ---------------------- */





.our-cel{
  padding: 61px 0 50px 0;
}
.cel-info{
  text-align: left;
  margin-top: 40px;
  &__zag{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 34px;
  }
  &__text{
    font-size: 1.3em;
    line-height: 1.29em;
    padding-right: 10%;
  }
}
.cel-logo{
  padding-top: 9px;
  position: relative;
  width: 482px;
  margin: 0 auto;
  &:after{
    border-radius: 50%;
    border: 1px dashed #7a7a7a;
    position: absolute;
    top: 14px;
    right: 294px;
    width: 251px;
    height: 263px;
    content: "";
    z-index: -1;
  }
  &:before{
    border-radius: 50%;
    border: 1px dashed #7a7a7a;
    position: absolute;
    top: -75px;
    right: 193px;
    width: 440px;
    height: 440px;
    content: "";
    z-index: -1;
  }
}






/* ---------------- ДЛЯ ИНВЕСТОРОВ ------------------ */





.invest{
  padding: 75px 0 49px;
  &__info{
    background: url(../img/group-7.png) no-repeat right;
    height: 442px;
    color: white;
    padding: 10.6% 4% 7.9% 36.7%;
    text-align: left;
  }
}
.info{
  &__invest-content{
    padding-left: 4.4%;
  }
  &__button{
    display: inline-block;
    text-align: center;
  }
}
.invest-content{
  &__zag{
    font-weight: 600;
    margin-bottom: 10%;
  }
}
.runnumber{
  opacity: 0;
}
.invest-value{
  text-align: center;
  padding: 45px 15px;
  &__chislo{
    display: block;
    margin: 40px 0;
    font-weight: 300;
    font-size: 40px;
  }
  &__text{
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 300px;
  }
}






/* ---------------------------TOKEN-------------------------- */





.token{
  text-align: center;
}
.token-zag{
  padding-top: 1%;
  &__main{
    padding-top: 1.5%;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4em;
    padding-bottom: 3%;
  }
  &__under{
    font-size: 1.2em;
  }
}
.under{
  &__value{
    font-size: 1.45em;
    &_red{
      color: #da3c62;
    }
  }
}






/* ------------------------ STAGE ------------------------- */





.stage-list{
  margin-top: 5%;
  margin-bottom: 1.6%;
  color: #969696;
  display: flex;
  list-style-type: none;
  text-align: left;
  width: 530px;
  border-radius: 17px;
  background: #f9f9f9;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.37);
  &__etap{
    padding: 0 31px;
    font-size: 0.7em;
    font-weight: 600;
    border-right: 1px dashed lightgray;
    border-radius: 17px;
    width: 100%;
    line-height: 35px;
    &_lightred{
      height: 34px;
      background-image: linear-gradient(to bottom, #fb2a5d, #ed4336);
      box-shadow: 0 5px 11px 0 rgba(211, 15, 63, 0.76);
      color: white;
    }
  }
}




/* ------------------------LESNICA-------------------------- */


.lesnica{
  margin-top: 2.5%;
  background: url(../img/lines.svg);
  &__box {
    text-align: left;
    width: 305px;
    padding: 26px 26px 26px 0;
    &_1 {
      margin-bottom: 18px;
    }
    &_2 {
      margin-top: 46px;
      margin-left: 116px;
    }
    &_3{
      margin-top: 54px;
      margin-left: 228px;
    }
    &_4{
      margin-top: 45px;
      margin-left: 340px;
    }
    &_5{
      margin-left: 453px;
      margin-top: 47px;
    }
    &_6{
      font-size: 1.24em;
      margin: 45px 0 143px 563px;
    }
  }
}
.les-box{
  font-size: 1.24em;
  position: relative;
  &_1{
    &:before{
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 35px;
      width: 35px;
      background: #d30f3f;
      box-shadow: 0 5px 14px 0 #d30f3f;
      top: 15px;
      right: 15px;
    }
    &:after{
      position: absolute;
      content: "";
      height: 20px;
      width: 13px;
      top: 20px;
      right: 27px;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      transform: rotate(45deg);
    }
  }
  &__info-1{
    position: absolute;
    top: 23px;
    right: -212px;
    font-size: 0.8em;
    &:before{
      position: absolute;
      content: "";
      width: 52px;
      top: 10px;
      right: 150px;
      border-bottom: 1px dashed gray;
    }
  }
  &__info{
    line-height: 21px;
    position: absolute;
    font-size: 0.8em;
    left: 365px;
    &_2{
      top: 8px;
      width: 300px;
      &:before{
        position: absolute;
        content: "";
        width: 52px;
        top: 23px;
        right: 329px;
        border-bottom: 1px dashed gray;
      }
    }
    &_3{
      top: 11px;
      width: 320px;
      &:before{
        position: absolute;
        content: "";
        width: 52px;
        top: 22px;
        right: 349px;
        border-bottom: 1px dashed gray;
      }
    }
    &_4{
      top: 21px;
      width: 250px;
      &:before{
        position: absolute;
        content: "";
        width: 52px;
        top: 17px;
        right: 279px;
        border-bottom: 1px dashed gray;
      }
    }
    &_5{
      top: 12px;
      width: 200px;
      &:before{
        position: absolute;
        content: "";
        width: 52px;
        top: 20px;
        right: 229px;
        border-bottom: 1px dashed gray;
      }
    }
  }
}








/* ---------------------- TOKEN-INFO --------------------- */







.token-info{
  background: #c5103c;
  color: white;
  padding-top: 61px;
  padding-bottom: 42px;
}
.token-box{
  &__zag{
    margin-top: 24px;
    margin-bottom: 27px;
    font-size: 1.43em;
    font-weight: 600;
  }
  &__text{
    padding-left: 1.5%;
    font-size: 1.228em;
    line-height: 26px;
  }
}




/* ------------------- TOKEN__END ----------------- */



.token-end{
  background: url(../img/rectangle-9-copy.png);
  color: white;
  padding-top: 70px;
  padding-bottom: 100px;
  font-size: 1.3em;
  &__text{
    line-height: 26px;
    max-width: 800px;
    margin: 0 auto;
  }
}




/* --------------------- ROADMAP ------------------- */




.roadmap{
  background: url(../img/bitmap.png) no-repeat center #202020/cover;
  padding-bottom: 80px;
  &__header{
    color: white;
    text-align: center;
    padding-top: 75px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0;
  }
  &__snake{
    background: url(../img/lines.svg) no-repeat, url(../img/lines.svg) no-repeat 103.5% top;
    position: relative;
    min-height: 870px;
    margin-bottom: 50px;
  }
  &__info{
    text-align: center;
    color: white;
  }
  &__footer{
    text-align: center;
  }
}
.snake{
  position: absolute;
  width: 263px;
  height: 125px;
  top: 0;
  left: 300px;
  border-bottom-left-radius: 100px;
  border: 14px solid #404040;
  border-right: 0;
  border-top: 0;
  &__item-2{
    border: 14px solid #404040;
    border-top-right-radius: 100px;
    top: 111px;
    left: 563px;
    border-right: 0;
    border-top: 0;
    transform: rotate(180deg);
  }
  &__item-3{
    top: 222px;
    left: 563px;
    border: 14px solid #404040;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom-right-radius: 100px;
  }
  &__item-4{
    border: 14px solid #404040;
    top: 333px;
    left: 300px;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 100px;
  }
  &__item-5{
    top: 444px;
    left: 300px;
    border-right: 0;
    border-top: 0;
    border-bottom-left-radius: 100px;
  }
  &__item-6{
    border: 14px solid #404040;
    border-top-right-radius: 100px;
    top: 555px;
    left: 563px;
    border-left: 0;
    border-bottom: 0;
  }
}






/* ----------------- SNAKE-CONTANT ----------------- */



.level{
  position: absolute;
  &__number{
    color: white;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 22px;
    background: #d30f3f;
    border-radius: 50%;
    box-shadow: 0 5px 14px 0 #d30f3f;
    text-align: center;
    font-weight: 600;
  }
  &__text{
    position: absolute;
    text-align: center;
    right: 50px;
    color: white;
    line-height: 19px;
    &_1{
      text-align: right;
      top: 5px;
      right: 56px;
      width: 240px;
      font-size: 1.05em;
    }
    &_2{
      transform: translateX(-50%);
      top: auto;
      left: 54%;
      bottom: 55px;
      width: 338px;
    }
    &_3{
      top: 66px;
      left: 45%;
      width: 240px;
      transform: translateX(-50%);
    }
    &_4{
      top: 63px;
      left: 45%;
      width: 240px;
      transform: translateX(-50%);
    }
    &_5{
      text-align: left;
      top: 9px;
      left: 57px;
      width: 250px;
    }
  }
}
.level-1{
  top: -17px;
  left: 290px;
}
.level-2{
  top: 98px;
  left: 563px;
}
.level-3{
  top: 322px;
  left: 563px;
}
.level-4{
  top: 544px;
  left: 563px;
}
.level-5{
  top: 655px;
  left: 805px;
}




/* ------------------ ROADMAP-INFO ------------------ */





.road-content{
  max-width: 263px;
  margin: 0 auto;
  &__zag{
    font-size: 1.26em;
    margin: 20px 0;
  }
  &__text{
    line-height: 26px;
    padding-top: 9px;
  }
}





/* --------------- ROADMAP__FOOTER ------------------ */




.bracket{
  display: inline-block;
  transform: rotate(90deg);
  color: #d30f3f;
  font-size: 11em;
  margin-top: -84px;
  padding-bottom: 3%;
}
.road-footer-text{
  font-weight: 600;
  margin: -104px 35% 0;
  font-size: 1.1em;
  line-height: 25px;
  color: white;
}



/* ------------------- TRUST ------------------------ */



.trust{
  margin-bottom: 60px;
  &__img{
    background: url(../img/group-19.png) no-repeat center;
    height: 538px;
  }
}
.trust-info{
  padding: 50px 30px;
  &__zag{
    font-weight: 600;
    font-size: 1.6em;
    line-height: 34px;
  }
  &__line{
    border: 3px solid #e31f4f;
    width: 44px;
    margin: 22px 2px;
  }
  &__text{
    padding-top: 6px;
    padding-bottom: 5px;
    line-height: 26px;
  }
}




/* ----------------------- FOOTER ----------------------*/



.footer{
  &__content {
    text-align: center;
    padding: 40px 0;
  }
}
.footer-link{
  padding-bottom: 34px;
}
.footer-copyright{
  font-size: 1.2em;
}
@media (max-width: 1340px) {
  .block-2__img {
    right: -40px;
  }
}
@media (max-width: 1200px) {
  .container{
    width: 1170px;
  }
  .about__bitmap{
    right: -15px;
  }
  .level__text_5{
    text-align: center;
    top: 49px;
    left: 72%;
    transform: translateX(-50%);
  }
  .category {
    flex-wrap: wrap;
  }
  .category__item{
    width: calc(100% / 2 - 30px);
  }
  .item__text{
    max-width: 270px;
    text-align: center;
    margin: 15px auto;
  }
}
@media (max-width: 1110px) {
  .lesnica__box{
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .trust{
    margin-bottom: 50px;
  }
  .invest__info{
    padding: 10% 5%
  }
  .cel-logo:before, .cel-logo:after{
    display: none;
  }
  .emblem__badge{
    font-size: 1.8em;
  }
  .item__text{
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .lin-menu{
    display: none;
  }
  .small-menu{
    display: inline-block;
    float: right;
  }
  .logo{
    font-size: 2em;
  }
  .dropdown-menu.show{
    position: fixed !important;
    top: 110px !important;
    left: 704px !important;
    transform: translate3d(-703px, 36px, 0px) !important;
  }
  .dropdown-menu{
    position: fixed;
    top: 140px;
    background: black;
    width: 100%;
    opacity: 0.8;
  }
}
@media (max-width: 990px) {
  .emblem__badge{
    font-size: 40px;
  }
  .invest__info{
    background: url(../img/group-7.png) no-repeat center/cover;
    text-align: center;
  }
  .roadmap__snake{
    min-height: 800px;
    max-width: 350px;
    background: url(../img/lines.svg) no-repeat;
    margin: 0 auto;
    margin-top: 25px;
  }
  .snake{
    left: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    border-left: 14px solid #404040 !important;
  }
  .level{
    left: -10px !important;
  }
  .level__text{
    left: 45px !important;
    top: 0 !important;
    text-align: left !important;
    bottom: auto !important;
    right: auto !important;
    transform: translate(0%) !important;
    width: 240px;
  }
  .roadmap__header{
    margin-bottom: 75px;
  }
  .roadmap__snake{
    min-height: 670px;
  }
  .snake__item-2, .snake__item-4{
    display: none;
  }
  .snake__item-3{
    top: 130px;
  }
  .snake__item-5{
    top: 283px;
  }
  .snake__item-6{
    top: 425px;
  }
  .level-3{
    top: 251px;
  }
  .level-4{
    top: 403px;
  }
  .level-5{
    top: 521px;
  }
  .footer__content{
    padding-top: 0;
    padding-bottom: 40px;
  }
  .trust{
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .container{
    width: 970px;
  }
}
@media (max-width: 768px) {
  .container{
    width: 750px;
  }
  .our-mission__logo{
    padding-right: 0;
    padding-top: 0;
    max-width: 503px;
    margin: 0 auto;
  }
  .token-end__text{
    margin: 0 15px;
  }
  .emblem__badge{
    font-size: 34px;
  }
  .token-box{
    padding-bottom: 30px;
  }
  .token-info{
    padding-bottom: 0;
  }
  .slider__menu{
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .shop__zag{
    font-size: 24px;
    padding-top: 15px;
  }
  .category__item{
    width: 100%;
  }
  .lesnica__box{
    text-align: center;
    width: 100%;
    padding: 26px;
  }
  .lesnica__box_6{
    margin-bottom: 40px;
  }
  .les-box_1:before{
    top: 60px;
    left: calc(100% / 2 - 17px);
  }
  .les-box_1:after{
    top: 64px;
    left: calc(100% / 2 - 6px);
  }
  .les-box__info-1{
    top: 110px;
    right: auto;
    left: calc(100% / 2 - 63px);
  }
  .les-box__info_2{
    top: 60px;
    right: auto;
    left: calc(100% / 2 - 150px);
  }
  .les-box__info_3{
    top: 60px;
    right: auto;
    left: calc(100% / 2 - 160px);
  }
  .les-box__info_4{
    top: 60px;
    right: auto;
    left: calc(100% / 2 - 125px);
  }
  .les-box__info_5{
    top: 60px;
    right: auto;
    left: calc(100% / 2 - 100px);
  }
  .les-box__info-1:before,
  .les-box__info_2:before,
  .les-box__info_3:before,
  .les-box__info_4:before,
  .les-box__info_5:before{
    display: none;
  }

  .stage{
    display: none;
  }
  #particles-js{
    height: 370px;
  }
}
@media (max-width: 575px) {
  .container{
    width: 320px;
  }
  .shop__zag{
    font-size: 24px;
    padding-top: 0;
  }
  .category__item{
    width: 100%;
  }
  .cel-logo{
    max-width: 300px;
    margin: 0 auto;
  }
  .cel-logo__img{
    width: 300px;
  }
  .cel-info{
    max-width: 300px;
    margin: 0 auto;
  }
  .cel-info__text{
    padding-right: 0;
  }
  .our-mission__info{
    max-width: 300px;
    margin: 30px auto;
  }
  .emblem__img{
    width: 58%;
  }
  .our-mission{
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .emblem__badge{
    font-size: 1.1em;
    top: 10px;
    left: 180px;
    height: 100px;
    width: 100px;
    line-height: 24px;
  }
  #particles-js{
    height: 410px;
  }
  .notion__text{
    max-width: 290px;
  }
  .token-box__text{
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .about__bitmap{
    top: 434px;
  }
  .road-footer-text{
    margin: -54px 0 0;
  }
  .bracket{
    padding-bottom: 12%;
  }
  .small-menu__button{
    margin-top: 8px;
  }
  .slide{
    padding-top: 123px;
  }
  .slide__zag{
    font-size: 34px;
  }
  .slide__text{
    font-size: 22px;
  }
  .road-content__zag{
    margin: 20px 0 0;
    font-weight: 600;
  }
  .road-content__text{
    padding: 0;
  }
  .advantage__zag{
    margin-bottom: 40px;
  }
  .block-2__img{
    right: -20px;
    top: 434px;
  }
  .token-end{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 340px) {
  .les-box__info{
    max-width: 300px;
  }
}



/*-----------ВСЯ АНИМАЦИЯ --------*/





@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}